<!DOCTYPE html5>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <style>
            header {
                background-color: #0059a1;
                color: #ffffff;
                padding: 20px;
                text-align: center;
            }

            #logoTopLeft {
                position: absolute;
                top: 0;
                left: 0;
            }

        </style>

    </head>
    <body>
        <header>
            <img id="logoTopLeft" src="../../DevValut/images/Personal_Logo.png" alt="My Image">
            <h1>Welcome to My Server!</h1>
        </header>
        
        <section>
            <h2>About Us(h2)</h2>
            <p>This is a paragraph in HTML5</p>
        </section>

        <footer>
            <p>This is where the footer goes in HTML5</p>
        </footer>
    </body>
</html>